<table border="1">
<th colspan="4">
All Movies
</th>
<tr>
    <td>Movie</td>
    <td>Director</td>
    <td>Release year</td>
    <td>Rating (out of 10)</td>
    <td>Date watched</td>
<% if @movies.count > 0 %>
    <% @movies.each do |movie| %>
            <tr>
                <td><a href="/movies/<%= movie.id %>"><%= movie.title %></a></td>
                <td><%= movie.director %></td>
                <td><%= movie.release_year %></td>
                <td><%= movie.rating %></td>
                <td><%= movie.time_watched %></td>
    <% end %>
<% else %>
        <p>No movies reviewed.</p>
<% end %>
</table>

<p> 
    <form action="/movies/new" method="get">
    <input type="submit" value="Add a new movie" />
    </form>
</p>
